.skill-roller {
	margin: 4px;

	.attr-skill-grid {
		margin: 0px;
		padding-left: 4px;
		padding-right: 4px;
		padding-bottom: 4px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 4px;
	}

	.dice-grid {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}

	.dice {
        background-repeat: no-repeat;
        background-size: 48px;
        color: white;
		cursor: pointer;
        float: left;
        font-family: Norse;
        font-size: 32px;
        font-weight: bold;
        line-height: 48px;
        text-align: center;
        text-shadow: 2px 2px black;
        width: 48px;
		margin-left: 5px;
	}

	.dice.fortune {
		background-image: url("../assets/icons/dice/d20-critical.svg");
	}

	.dice.selected {
		background-image: url('../assets/icons/dice/d20-success.svg');
	}

	.dice.unselected {
		background-image: url('../assets/icons/dice/d20-fail.svg');
		opacity: 0.40;
	}

	.difficulties-grid {
		margin: 0px;
		padding-left: 4px;
		padding-right: 4px;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		column-gap: 4px;

		button {
			border-radius: 15px;
		    font-weight: 600;
		}
	}

	.difficulty {
		display: grid;
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

	}

	.extra-dice {
		height: 172px;
	}

	.disabled-entry {
		opacity: 0.40;
		pointer-events: none;
	}

	.label {
		text-align: center;
		color: white;
		background-color: #40450a;
		text-transform: uppercase;
	}

	.difficulty.active {
		color: red;
	}

	.tn-focus-grid {
		margin: 0px;
		padding-left: 4px;
		padding-right: 4px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 4px;
	}

	.bonus-dice {
		margin: 0;
		margin-bottom: 4px;
		padding-left: 4px;
		padding-right: 4px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 4px;

		.bonus-dice-header {
			background-color: var(--secondary);
			padding-left: 4px;
			padding-right: 4px;
		}
	}

	.tn-focus {
		display: grid;
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		input[type='number'] {
			width: 100%;
			padding: 0;
			border-radius: 0px;
		}
	}

	.quantity {
		position: relative;
		padding-left: 3px;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button
	{
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number]
	{
		-moz-appearance: textfield;
	}

	.quantity input {
		width: 91px;
		height: 42px;
		line-height: 1.65;
		float: left;
		display: block;
		padding: 0;
		margin: 0;
		padding-left: 28px;
		border: 1px solid #eee;
		font-size: 32px;
	}

	.quantity input:focus {
		outline: 0;
	}

	.quantity input:disabled {
		color: unset;
	}

	.quantity-nav {
		float: left;
		position: relative;
		height: 42px;
	}

	.quantity-button {
		position: relative;
		cursor: pointer;
		border-left: 1px solid #eee;
		width: 20px;
		text-align: center;
		color: #333;
		font-weight: 600;
		font-size: 13px;
		line-height: 1.7;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	.quantity-button.quantity-up {
		position: absolute;
		height: 50%;
		top: 0;
		border-bottom: 1px solid #eee;
	}

	.quantity-button.quantity-down {
		position: absolute;
		bottom: -1px;
		height: 50%;
	}

	.test-details {
		text-align: center;
		color: white;
		background-color: #40450a;
		line-height: 22px;
	}
}
