<div class="npcactions">
  <ol class="npcactions-list inventory-list directory-list inventory-pane">
    {{#each attacks as |section sid|}}
      <li class="section-header">
        <h2 class="item-name">{{localize "CONAN.npc.sections.attacks"}}</h2>
        {{#if ../owner}}
          <div class="item-controls" style="display: flex">
            <a
              class="item-control item-create"
              title="{{localize CONAN.createItemTitle}}"
              data-type="{{sid}}"
            >
              <i class="fas fa-plus"></i>
            </a>
            <a
              class="item-control inventory-browse"
              title="{{localize CONAN.openInventoryBrowser}}"
              data-type="{{sid}}"
              ><i class="fas fa-search"></i
            ></a>
          </div>
        {{/if}}
      </li>
      {{#each section.items as |item itemId|}}
        {{>
          systems/conan2d20/templates/actors/tabs/npcattack-line.html
          item=item
          owner=../../owner
          level=1
        }}
      {{/each}}
    {{/each}}
  </ol>
</div>
