$header-height: 120px;

.conan2d20.actor.pc.character-sheet {
  min-width: 675px;
  min-height: 795px;
}

.conan2d20 section.window-content {
  padding: 0;
  overflow: hidden;
}

.conan2d20 form.npc-sheet {
  background: url(../assets/parchment.jpg);
  background-attachment: local;
  display: grid;
  grid:
    'header' 75px
    'nav' minmax(min-content, max-content)
    'content' 1fr;

  .sheet-header {
    height: 75px;
    background-image: url(../assets/sheet/header-npc.png);
    background-size: cover;
    background-repeat: no-repeat;

    .profile-img {
      border: none;
      @include gold-border;
      display: block;
      margin-right: 25px;
      margin-top: 3px;
      box-shadow: 0 0 0 3px rgba(black, 0.2);
      max-height: 75px;
      max-width: 75px;
      height: auto;
      width: auto;
      z-index: 50;
    }

    input[type='text'] {
      font-family: crushyourenemies;
      background: none;
      font-size: 14px;
      color: white;
      padding-top: 10px;
      margin-left: 70px;
      margin-right: 100px;
      width: 100%;
    }
  }

  .tags {
    width: calc(100% - 10px);
    min-width: 20px;
    height: 24px;
    margin: 0;
    padding: 1px 3px;
    z-index: 5;
    li {
      &.tag {
        background-color: var(--darker);
        box-shadow: inset 0 0 0 1px rgba(black, 0.3);
      }
      &.edit-btn {
        background-color: var(--light);
        a {
          color: white;
        }
      }
    }
  }

  .npc_categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 50%;
    margin-bottom: 10px;
    margin-left: 75px;
  }

  .npc-sheet-body {
    .sheet-content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin-right: 5px;
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      width: auto;
      padding-top: 12px;
      overflow-y: scroll;
    }

    .readonly-sheet-content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin-right: 5px;
      margin-left: 5px;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding-top: 12px;
      overflow-y: scroll;
    }

    .section-header {
      margin-bottom: 10px;
      align-items: center;
      display: flex;
      color: white;
      background: black;
      text-align: center;

      h2 {
        padding-left: 8px;
        border-bottom: none;
        margin-bottom: 0px;
        width: 100%;
      }
    }
  }
}
.conan2d20 form {
  background: url(../assets/sheet/header_grey.png), url(../assets/parchment.jpg);
  background-repeat: repeat-x, no-repeat;
  background-size: auto 120px, cover;
  background-attachment: local;
  display: grid;
  grid:
    'sidebar header' 120px
    'sidebar nav' minmax(min-content, max-content)
    'sidebar nav' minmax(min-content, max-content)
    'sidebar content' 1fr
    / 247px 1fr;

  font-family: $body-serif;

  /* prettier-ignore */
  @import 'sidebar',
          'header';

  $window-p-right: 20px;

  .char-header {
    grid-area: header;
    margin-right: $window-p-right;
  }
  .sheet-navigation {
    grid-area: nav;
    margin-right: $window-p-right;
  }
  .sheet-body {
    grid-area: content;
    position: relative;

    .sheet-content,
    .sheet-content .inventory {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 12px;

      & > .tab:not(.inventory),
      .inventory .inventory-list {
        flex-grow: 1;
        min-height: 0;
        overflow: hidden scroll;
        @include scrollbar;
        padding-right: $window-p-right;
        mask-image: linear-gradient(
          180deg,
          rgba(white, 1) 0%,
          rgba(white, 1) 1%,
          rgba(white, 1) 98%,
          rgba(white, 0) 100%
        );
      }

      &.tab[data-tab] {
        display: none;
        &.active {
          display: initial;
        }
      }
    }
  }

  /* Navigation */
  @import 'nav';

  .sheet-content {
    color: var(--body);
    @import 'character', 'npc';
  }

  footer {
    text-align: right;
    @include micro;
    color: var(--primary);
    line-height: 1.4;
    margin: 1em 8px;

    p,
    a {
      font-weight: 700;
      color: var(--primary);
    }
  }
}
