<h2>{{title}}</h2>
<h4>
  Base {{baseDamage}},
  Attribute {{attributeBonus}},
  Talent {{talentModifier}},
  Reloads {{reloadModifier}}
</h4>
<div class="roll-card">
  {{#each rolls as |roll r|}}
  <span class="roll-list-entry roll d6-combat{{roll.result}}" id="{{r}}">{{{roll.display}}}</span>
  {{/each}}
</div>
<div class="roll-outcomes">
  <label>{{localize 'CONAN.numberOfDice'}}: </label>{{totalDamageDice}}
  {{#if hitLocation}}
    <br />
    <label>{{localize 'CONAN.hitLocation'}}: </label>{{hitLocation}}
  {{/if}}
  {{#ifCond momentumModifier '>' 0}}
    <br />
    <label>{{localize 'CONAN.momentum'}}: </label>{{momentumModifier}}
  {{/ifCond}}
  {{#ifCond effects '>' 0}}
    <br />
    <label>{{localize 'CONAN.effectsLabel'}}: </label>{{effects}}
  {{/ifCond}}
</div>
<div class="roll-complications">
  <h2>
    {{damage}}
    {{damageType}}
    {{localize "CONAN.Damage"}}
  </h2>
</div>
<footer class="card-footer item-properties tags">
  {{#each qualities}}
    <span class="tag chat-tag" title="{{this.description}}">
      {{this.label}}
      {{#if this.value}}
        {{this.value}}
      {{/if}}
    </span>
  {{/each}}
</footer>
