<h2>{{title}}</h2>
<h4>
  {{difficultyString}},
  {{localize "CONAN.skillTNShortLabel"}} {{tn}},
  {{localize "CONAN.skillFocusShortLabel"}} {{focus}}
</h4>
<div class="roll-card">
  {{#each rolls as |roll r|}}
    <span
      id="{{r}}"
      {{#if roll.success}}
        class="roll-list-entry roll success"
      {{else if roll.complication}}
        class="roll-list-entry roll complication"
      {{else if roll.critical}}
        class="roll-list-entry roll critical"
      {{else}}
        class="roll-list-entry roll fail"
      {{/if}}
    >
      {{roll.result}}
    </span>
  {{/each}}
</div>
<div class="roll-outcomes">
  <label>Successes: </label>{{successes}}
  {{#if momentumGenerated}}
    <br />
    <label>{{localize "CONAN.momentum"}}: </label>{{momentumGenerated}}
    {{#ifCond bonusMomentum '>' 0}}
      (+{{bonusMomentum}} {{localize "CONAN.bonusLowerCase"}})
    {{/ifCond}}
  {{/if}}
  {{#if complications}}
    <br />
    <label>{{localize "CONAN.complications"}}: </label>{{complications}}
  {{/if}}
</div>
{{#if result}}
  <h3>{{result}}</h3>
{{/if}}
{{#if momentumGenerated}}
  <div class="card-buttons">
    <button
      class="chat-bank-momentum"
      data-action="weaponAttack"
    >
    {{localize "CONAN.rollMomentumSpendTitle"}}
    </button>
  </div>
{{/if}}
