<h2>{{title}}</h2>
<div class="roll-card">
  {{#each rolls as |roll r|}}
  <span class="roll-list-entry roll d6-combat{{roll.result}}" id="{{r}}">{{{roll.display}}}</span>
  {{/each}}
</div>
<div class="roll-complications">
  <h2>
    {{soak}}
    {{localize "Soak"}}
  </h2>
</div>
