<ol class="form-list">
  <div class="dialog-inputs">
    {{#ifEq modifiers.attacker "character"}}
      {{#ifEq modifiers.weaponType "melee"}}
        <div class="form-group">
          <label>{{localize "CONAN.damageRollAttackType"}}:</label>
          <select name="attackType" data-dtype="String">
            {{#select modifiers.attackTypes}}
              {{#each modifiers.attackTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>
      {{else ifEq modifiers.weaponType "display"}}
        <div class="form-group">
          <label>{{localize "CONAN.damageRollAttackType"}}:</label>
          <input
            name="attackType"
            value="{{localize 'CONAN.attacks.threaten.label'}}"
            disabled
          />
        </div>
      {{else}}
        <div class="form-group">
          <label>{{localize "CONAN.damageRollAttackType"}}</label>
          <input
            name="attackType"
            value="{{localize 'CONAN.attacks.ranged.label'}}"
            disabled
          />
        </div>
      {{/ifEq}}
    {{else}}
      <div class="form-group">
        <label>{{localize "CONAN.damageRollAttackType"}}</label>
        {{#ifEq modifiers.weaponType "melee"}}
          <input
            name="attackType"
            value="{{localize 'CONAN.attacks.melee.label'}}"
            disabled
          />
        {{else ifEq modifiers.weaponType "ranged"}}
          <input
            name="attackType"
            value="{{localize 'CONAN.attacks.ranged.label'}}"
            disabled
          />
        {{else ifEq modifiers.weaponType "threaten"}}
          <input
            name="attackType"
            value="{{localize 'CONAN.attacks.threaten.label'}}"
            disabled
          />
        {{/ifEq}}
      </div>
    {{/ifEq}}
    <div class="roll-bonus-header">
      <h3 class="damage-bonus header">
        {{localize "CONAN.damageRollBonusHeader"}}
      </h3>
    </div>
    {{#ifEq modifiers.attacker "character"}}
      <div class="form-group">
        <label>{{localize "CONAN.damageRollMomentumSpendLabel"}}</label>
        <input
          name="momentumModifier"
          value=""
          type="Number"
          data-dtype="Number"
        />
      </div>
      <div class="form-group">
        <label>{{localize "CONAN.damageRollTalentSpendLabel"}}</label>
        <input name="talentModifier" value="" type="Number" data-dtype="Number" />
      </div>
      {{#ifEq modifiers.weaponType "ranged"}}
        {{#if options}}
          <label>{{localize "CONAN.damageRollLoadSpendLabel"}}</label>
          <div class="form-group">
            <select name="reloadItem" data-dtype="String" id="reloadItem">
              {{#select options}}
                <option value="" />
                {{#each options as |object index|}}
                  <option value="{{object.id}}">
                    {{object.name}}
                    ({{object.uses}} {{localize "CONAN.available"}})
                  </option>
                {{/each}}
              {{/select}}
            </select>
            <input name="reloadModifier" value="" />
          </div>
        {{/if}}
      {{/ifEq}}
    {{else ifEq modifiers.attacker "npc"}}
      <div class="form-group">
        <label>{{localize "CONAN.damageRollDoomSpendLabel"}}</label>
        <input
          name="momentumModifier"
          value=""
          type="Number"
          data-dtype="Number"
        />
      </div>
    {{/ifEq}}
    <div class="form-group">
      <label>{{localize "CONAN.other"}}</label>
      <input
        name="otherModifier"
        value="{{modifiers.attributeBonus}}"
        type="Number"
        data-dtype="Number"
      />
    </div>
  </div>
</ol>
