<h1>Enter the Damage to Apply</h1>
<p>Remove Soak from Damage First</p>
<br>
<div style="display:flex; flex-direction: column">
	<div>
		<span style ="flex:1">
			Damage Type:
			<input type="radio" id="r1" name="dmg_type" value=1 checked>
			<label for = "r1">
				Vigor
			</label>
			<input type="radio" id="r2" name="dmg_type" value=2>
				<label for = "r2">
					Resolve
				</label>
			</span>
	</div>
	<div style="flex:1">
		<span style="flex:1">
			Damage:
			<input id="dmg" type="number" style="width:50px" value=0 />
		</span>
	</div>
	<br>
</div>
