<div class="dialog">
  <div class="dialog-content skill-roller">

		<div class="label">
			{{localize 'CONAN.skillRollDifficultyLabel'}}
		</div>

		<div class="dialog-inputs skill-roller difficulties-grid">
			{{#each difficulties as |difficulty index|}}
			<button
				class="skill-roller difficulty {{#if difficulty.active}}active{{/if}}"
				title="{{difficulty.tooltip}}"
				data-difficulty={{index}}
			>
				D{{index}}
			</button>
			{{/each}}
		</div>

		{{#if isActorRoll}}
			<div class="dialog-inputs skill-roller attr-skill-grid">
				<div class="label">
					{{localize 'CONAN.skillRollAttributeLabel'}}
				</div>
				{{#ifCond actorData.type '===' 'npc'}}
					<div class="label">
						{{localize 'CONAN.skillExpertiseShortLabel'}}
					</div>
				{{else}}
					<div class="label">
						{{localize 'CONAN.skillShortLabel'}}
					</div>
				{{/ifCond}}
				<select name="attribute" data-dtype="String">
					{{#select attribute}}
						{{#each attributes as |attribute|}}
						<option
							value="{{attribute.key}}"
							{{#ifEq attribute.key ../selectedAttribute}}
								selected
							{{/ifEq}}
						>
							{{attribute.name}}
						</option>
						{{/each}}
					{{/select}}
				</select>
				{{#ifCond actorData.type '===' 'npc'}}
					<select name="expertise" data-dtype="String">
						{{#select expertise}}
							{{#each expertiseFields as |expertise|}}
								<option
									value="{{expertise.key}}"
									{{#ifEq expertise.key ../selectedExpertise}}
										selected
									{{/ifEq}}
								>
									{{expertise.name}}
								</option>
							{{/each}}
						{{/select}}
					</select>
				{{else}}
					<select name="skill" data-dtype="String">
						{{#select skill}}
							{{#each skills as |skill|}}
								<option
									value="{{skill.key}}"
									{{#ifEq skill.key ../selectedSkill}}
										selected
									{{/ifEq}}
								>
									{{skill.name}}
								</option>
							{{/each}}
						{{/select}}
					</select>
				{{/ifCond}}
			</div>

			{{#ifCond numDice '!==' 1}}
				<div class="extra-dice">
					<div class="extra-dice-hideable">
						<div class="label">Dice Purchase</div>
						<div class="dialog-inputs skill-roller bonus-dice">
							<div>
								<div class="label skill-roller bonus-dice-header">Fortune</div>
								<div class="dialog-inputs quantity">
									<input type="number" min="0" max="3" step="1" value="0" data-quantity-type="numFortune" disabled />
									<div class="quantity-nav">
										<div class="quantity-button quantity-up">+</div>
										<div class="quantity-button quantity-down">-</div>
									</div>
								</div>
							</div>
							<div
								{{#if isNpc}}
									class="disabled-entry"
								{{/if}}
							>
								<div class="label skill-roller bonus-dice-header">Momentum</div>
								<div class="dialog-inputs quantity">
									<input id="momentum" type="number" min="0" max="3" step="1" value="0" data-quantity-type="numMomentum" disabled />
									<div class="quantity-nav">
										<div class="quantity-button quantity-up">+</div>
										<div class="quantity-button quantity-down">-</div>
									</div>
								</div>
							</div>
							<div>
								<div class="label skill-roller bonus-dice-header">Doom</div>
								<div class="dialog-inputs quantity">
									<input id="doom" type="number" min="0" max="3" step="1" value="0" data-quantity-type="numDoom" disabled />
									<div class="quantity-nav">
										<div class="quantity-button quantity-up">+</div>
										<div class="quantity-button quantity-down">-</div>
									</div>
								</div>
							</div>
						</div>
						<div class="label">Bonus</div>
						<div class="dialog-inputs skill-roller bonus-dice">
							<div>
								<div class="label skill-roller bonus-dice-header">D20</div>
								<div class="dialog-inputs quantity">
									<input type="number" min="0" max="3" step="1" value="0" data-quantity-type="bonusDice" disabled />
									<div class="quantity-nav">
										<div class="quantity-button quantity-up">+</div>
										<div class="quantity-button quantity-down">-</div>
									</div>
								</div>
							</div>
							<div>
								<div class="label skill-roller bonus-dice-header">Momentum</div>
								<div class="dialog-inputs quantity">
									<input type="number" min="0" max="3" step="1" value="0" data-quantity-type="bonusMomentum" disabled />
									<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>
								</div>
							</div>
							<div>
								<div class="label skill-roller bonus-dice-header">Success</div>
								<div class="dialog-inputs quantity">
									<input type="number" min="0" max="3" step="1" value="0" data-quantity-type="bonusSuccesses" disabled />
									<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/ifCond}}

		{{else}}

			<div class="dialog-inputs skill-roller tn-focus-grid">
				<div
					class="label"
					title="{{localize 'CONAN.targetNumber'}}"
				>
					TN
				</div>
				<div
					class="label"
					title="{{localize 'CONAN.focus'}}"
				>
					{{localize 'CONAN.focus'}}
				</div>
				<div
					class="label"
					title="{{localize 'CONAN.complication'}}"
				>
					{{localize 'CONAN.complicationShort'}}
				</div>
				<div class="tn-focus">
					<input
						id="skill-tn"
						type="Number"
						data-dtype="Number"
						placeholder="7"
					/>
				</div>
				<div class="tn-focus">
					<input
						id="skill-focus"
						type="Number"
						data-dtype="Number"
						placeholder="0"
					/>
				</div>
				<div class="tn-focus">
					<input
						id="skill-complication"
						type="Number"
						data-dtype="Number"
						placeholder="20"
					/>
				</div>
			</div>
		{{/if}}
		{{#if isActorRoll}}
			<hr />
			<div class="test-details">
				{{testDetails}}
			</div>
		{{/if}}
		<div
			class="skill-roller dice-grid"
			title="Select the amount of dice to roll"
		>
			{{#each dice as |die index|}}
				<div
					data-dice-number="{{index}}"
					{{#if die.active}}
						class="dice selected"
					{{else}}
						class="dice unselected"
					{{/if}}
				>
				{{#if die.active}}
					?
				{{else}}
					&nbsp;
				{{/if}}
				</div>
			{{/each}}
		</div>
		<div class="dialog-inputs">
			<button class="roll-skill-check">
				{{localize 'CONAN.rollSkillLabel'}}
			</button>
		</div>
	</div>
</div>
