<form class="npc-sheet {{cssClass}}" autocomplete="off" id="npc-sheet">
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{localize CONAN.characterNamePlaceholder}}"
        />
      </h1>
    </div>
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
  </header>
  <section class="npc-sheet-body sheet-body">
    <!-- Sheet Body -->
    <section class="readonly-sheet-content content">
      <div class="npc-notes">
        <div class="section-header">
          <h2>{{localize "CONAN.npc.sections.notes"}}</h2>
        </div>
        <div class="notes-entry">
          {{editor
            system.details.biography.value
            target="system.details.biography.value"
            button=true
            owner=owner
            editable=editable
          }}
        </div>
      </div>
    </section>
  </section>
</form>
